## Visual Studio / .NET Core
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/

## Build results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## OS generated
[Tt]humbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store
